@import '../../utils/mixins';

.nightingales {
    background-color: black;
    width: 100vw;
    padding-top: 45px;
    isolation: isolate;
    position: relative;
    @include Column;
    row-gap: 90px;
    padding-bottom: 90px;
    animation: apparition 1s ease forwards;
    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
        row-gap: 45px;     
        padding-top: 90px;            
    }
    
    @media only screen and (max-width:$mobileMaxWidth){
        row-gap: 45px;
        padding-top: 67px;
    }
   

    &_mainDataContainer {
        animation: apparition 3s ease forwards;
        width: 100%;
        @include Column;
        row-gap: 90px;
        font-family: 'Inter';
        color: white;
        position: relative;
        @include font-size(5);
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            row-gap: 45px;
        }

        &_title {
            z-index: 10;
            margin: 0 auto;
            width: 90%;
            object-fit: contain;
            display: flex;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                padding: 0 22px;
                box-sizing: border-box;
                width: 100%;
            }
        }

        &_starryskyContainer {
            margin: auto;
            position: fixed;
            width: 100vw;
            height: 100vh;
            display: flex;
            
            &_starrysky {
                justify-content: center;
                width: 80%;
                height: 80%;
                margin: auto;
            }
        }

        &_samples {
            width: 50%;
            margin: auto;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                width: 70%;  
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                width: 80%;
            }      
        }

        &_descriptionContainer {
            @include Column;
            column-gap: 90px;
            row-gap: 90px;
            width: 90%;
            margin: 90px auto;
            justify-content: center;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                margin: 22px auto;
            }
        }
    }

    &_tracksContainer {
        
            @include Row;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                @include Column;
            }       
        
       
    }
   

    &_videos {
        
        @include Row;
        column-gap: 45px;
        justify-content: center;
        width: 100%;
        height: 80%;
        background-color: rgb(13, 5, 68);
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: auto;
            column-gap: 5px;
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            // @include Column;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: auto;
            column-gap: 0;
            background: none;
            
        }    

        video {
            margin: 90px 0;
            width: 20%;
            // border-radius: 10px;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                width: 80%;
                margin: 90px auto;
                
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                width: 100%;
                margin: 22px 0;
            }  
        }
    }

    &_gallery {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }
}