@import '../../utils/mixins';

.nightingales {
    height: 100vh;
    width: 100vw;
    background-color:$nightColor1;
    margin: auto;
    @include Column;
    animation: apparition 1s ease forwards;
    overflow: scroll;

    &_backButton {
        position: fixed;
        font-family: $mainFont;
        font-size: $fontSize4;
        color: black;
        background-color: white;
        padding: 3px 50px;
        top: 40px;
        right: 0;
    }
    &_section {

        height: 100%;
        margin: auto;
        @include Row;
        column-gap: 40px;
    
        &_artwork {
            width: 50%;
            height: 100%;
            object-fit: cover;
        }
        &_text {
            
            width: 50%;
            height: 100%;
            @include Column;
            justify-content: center;
            padding-right: 40px;
            box-sizing: border-box;
            margin: auto;

            &_title {
                color: $nightColor2;
                width: fit-content;
                font-size: clamp(3rem, 5vw, 5rem);
                margin: auto;
                font-family: 'TitleFont'
            }

            &_paragraph {
                width: 100%;
                color: $nightColor2;
                font-size: $fontSize4;
                text-align: justify;
                font-family: $mainFont;
            }

            &_credits, &_tracklist {
                width: 100%;
                @include Column;
                margin: 50px auto;
                justify-content: center;

                &_line {
                    @include Row;
                    column-gap:20px;
                    width: 100%;
                    justify-content: center;
                    color: $nightColor2;
                    font-size: $fontSize4;
                    text-align: justify;
                    font-family: $mainFont;

                    &_role {
                        display: flex;
                        width: 50%;
                        justify-content: flex-end;
                    }
                    &_name {
                        color: $nightColor3;
                        display: flex;
                        width: 50%;
                        justify-content: flex-start;
                    }

                    &_index {
                        display: flex;
                        width: auto;
                        justify-content: flex-end;
                    }
                    &_trackname {
                        color: $nightColor3;
                        display: flex;
                        width: 30%;
                        justify-content: flex-start;
                    }
                    &_tracklength {
                        color: $nightColor3;
                        display: flex;
                        width: 20%;
                        justify-content: flex-start;
                    }

                    audio {
                        margin:auto;
                        opacity: 0.8;
                        height: 20px;
                        width: 70%;
                    }
                }
            }
        }
    }

    &_secondContainer {
        @include Row;
    }

    &_imagesSection {
        margin : 5px 0;
        width: 50%;
        &_grid {
            display: grid;
            grid-gap: 5px;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;

            &_item {
                width: 100%;
                height: 100%;
                position: relative;
                &:hover {
                    
                    // .nightingales_imagesSection_grid_item_caption {
                    //     display: flex;
                    //     animation: apparition 0.5 ease forwards;
                    // }
                    .nightingales_imagesSection_grid_item_img {
                        filter: brightness(1.2);
                        cursor: pointer;
                    }
                }
                &_img {
                    aspect-ratio: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &_caption {
                    
                    display:none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index:10;
                    color: $nightColor2;
                    font-size: $fontSize4;
                    text-align: justify;
                    font-family: $mainFont;
                }
            }
        }
    }

    &_tracksInfos {
        width: 50%;
        height: 100%;
        @include Column;
        justify-content: center;
        padding: 0 40px;
        box-sizing: border-box;
        margin: auto;

        &_list {
            &_item {
                &_title {
                    color: $nightColor3;
                    // width: 100%;
                    width: fit-content;
                    font-size: clamp(1rem, 5vw, 3rem);
                    margin: 40px 0;
                    font-family: 'TitleFont'
                }
                &_description,  &_style, &_references, &_bpm, &_scale {
                    width: 100%; 
                    font-size: $fontSize4;
                    text-align: justify;
                    font-family: $mainFont;
                    margin-bottom: 10px;
                }

                &_description {
                    color: $nightColor2;
                }

                &_style {
                    color: white;
                }

                &_references {
                    color: $nightColor3;
                }

                &_bpm {
                    color: $nightColor2;
                }

                &_scale {
                    color: $nightColor2;
                }
                
            }
        }
    }
}

.imageGallery {
    &_imageBox {
        z-index: 1000;
        background-color: rgba(0, 0 , 0 , 0.8);
        width: 100vw;
        top: 0;
        position: fixed;
        margin: auto;
        height: 100vh;
    }
}