@import '../../utils/mixins';

.nightingales {
    background-color: black;
    width: 100vw;
   

    &_mainDataContainer {
        animation: apparition 3s ease forwards;

        margin-top: 45px;
        width: 100%;
        @include Column;
        font-family: 'Inter';
        color: white;

        &_title {
            margin: 0 auto;
            width: 90%;
            object-fit: contain;
        }

        &_starryskyContainer {
            margin: auto;
            position: fixed;
            width: 100vw;
            height: 100vh;
            display: flex;
            
            &_starrysky {
                justify-content: center;
                width: 80%;
                height: 80%;
                margin: auto;
            }
        }

        &_datas {
            margin: 180px auto;
            width: 30%;
            text-align: justify;
            @include Column;
            row-gap: 90px;

            ul li {
                font-weight: bolder;
                color: rgb(61, 103, 255);
            }
        }

        &_artwork {
            width: 100%;
        }
        &_description {
            font-family: 'SpecialFont';
            width: 70%;
            @include Column;
            row-gap: 90px;
            margin: 180px auto;
            
            &_1 {
                font-size: $fontSize1;
                text-align: center;
            }
            &_2 {
                @include font-size(2);
                text-align: justify;
            }
            &_3 {
                @include font-size(3);
                text-align: justify;
            }
        }

        &_samples {
            width: 50%;
            margin: auto;
        }
    }

    &_tracks {
        &_container {
            @include Row;
            &_glassbirdsContainer {

            }
        
            &_noctambulismContainer {
        
            }
        
            &_asperiteContainer {
        
            }
        
            &_tasteContainer {
        
            }
        
            &_glassbirdsContainer, &_noctambulismContainer, &_asperiteContainer, &_tasteContainer {
                width: 40%;
                margin: 180px auto;
                @include Column;
                row-gap: 45px;
                z-index: 10;
                text-align: justify;
                img {
                    margin: auto;
                    width: 50%;
                    object-fit: contain;
                }
                p {
                    margin: auto;
                    font-family: 'SpecialFont';
                    color: white;
                    @include font-size(3);
                }
            }
        }
        &_plantsImage {
            z-index: 1;
            width: 100%;
        }
    }
   

    &_tongueImage {
        z-index: 1;
        width: 100%;
    }

    &_photoCredit {
        margin: 45px 0;
        width: 100%;
        font-family: 'SpecialFont';
        color: white;
        display: flex;
        justify-content: center;
        @include font-size(2);
    }
    

    &_videos {
        margin: 90px auto;
        @include Row;
        column-gap: 45px;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgb(13, 5, 68);

        video {
            width: 20%;
            border-radius: 10px;
        }
    }

    &_gallery {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }
}