@import '../../utils/mixins';

.navBar {
    @include font-size(3);
    font-family: 'Inter';
    z-index: 200;
    width: 45px;
    position: fixed;
    right: 0;
    top: 45px;
    margin: auto;
    @include Column;
    row-gap: 45px;
    justify-content: center;
    background-color:black;
    border-radius: 10px 0 0 10px;
    padding: 12px 12px 12px 0;
    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
        padding: 12px;
        box-sizing: border-box;
        @include Column;  
        width: 100%;     
        top: 0;
        left: 0;
        justify-content: space-between; 
        border-radius: 0px;
    }
    
    @media only screen and (max-width:$mobileMaxWidth){
        @include Column;  
        width: 100%;     
        top: 0;
        left: 0;
        padding: 12px;
        box-sizing: border-box;
        justify-content: space-between; 
        border-radius: 0px;
    }

    
    &_albums {
        @include Column;
        row-gap: 15px;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            
            justify-content: center; 
            
            margin: auto;
            
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            margin: auto;
            
            justify-content: center; 
            
        }
       
        
    }

    &_link {
        filter: saturate(0);
        margin: auto;
        
        display: flex;
        justify-content: center;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            width: 10%;
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            
        }

        &--taihua, &--gemmes {
            img {
                width: 45px;
            }
        }
        &--night {
            img {
                width: 35px;
            }
        }

        svg {
            color: white;
        }

        svg:hover  {
                color: greenyellow;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &_langList {
        margin: 0 auto 22px auto;
        
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            margin: 0 auto;
            @include Column;
            justify-content: center;
            margin-bottom: 15px;
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            margin: 0 auto;
            @include Column;
            justify-content: center;
            margin-bottom: 15px;
        }

        &:hover {
            cursor: pointer;
            font-weight: 800;
        }

        &_icon {
            width: 100%;
            margin: auto;
            color: white;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                height: 30px;
                
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                height: 25px;
                
            }
        }
        &_itemsList {
            margin: 12px auto;
            row-gap: 12px;
           

            button {
                width: 100%;
                margin: auto;
                background:none;
                border: none;
                
                
                @include font-size(4);    
                &:hover {
                    cursor: pointer;
                    color: rgb(102, 255, 0);
                }
            }
            &--closed {
                display: none;
            }

            &--open {
                display: flex;
                flex-direction: column;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    margin-top: 22px;
                    @include Row;
                    
                }
                
                @media only screen and (max-width:$mobileMaxWidth){
                    margin-top: 22px;
                    @include Row;
                }
            }

            &_fr, &_en, &_jp {
                color: white;
                &--selected {
                    color: rgb(102, 255, 0);
                }
            }
        }
    }
    &_burger {
        display: none;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            background: none;
            border: none;
            color: white;
            
            @include Row;
            
            
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            background: none;
            border: none;
            color: white;
            
            @include Row;
        }

    }

    &_nav--open {
        @include Column;
        row-gap: 45px;
        justify-content: center;
    }
    &_nav--closed {
        @include Column;
        row-gap: 45px;
        justify-content: center;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            display: none;
            
            
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            display: none;
        }
        
        
    }
}