@import '../../utils/mixins';

.musicLink {

    margin: 45px auto;
    width: auto;
    box-sizing: border-box;
    @include Column;
    justify-content: center;
    z-index: 90;
    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
    }
    
    @media only screen and (max-width:$mobileMaxWidth){
        margin: 0px auto;
    }
    
    a {
        @include Row;
        box-sizing: border-box;
        
        justify-content: center;
        margin: auto;
        width: 100%;
        padding: 20px;
        border: 1px white solid;
        border-radius: 50px;
        font-family: 'Montserrat';
        gap: 12px;
        background-color: white;
        color: black;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                 
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            justify-content: flex-start;
        }

        svg {
            
            margin: auto 0;
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: none;
                color: white;
                // border: none;
            }
        }
    }
}