@import '../../utils/mixins';

.home {
    height: 100vh;
    width: 100vw;
    margin: auto;
    @include Column;
    
    &_video {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(6px);
            transform: scale(1.1);
        }
    }

    &_menu {
        width: 100%;
        height: 20%;
        @include Column;
        justify-content: space-around;
        margin: auto;
        position: relative;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            row-gap:20px;
        }

        &_artistName {
            color: white;
            font-size: $fontSize1;
            margin: auto;
            font-family: $mainFont;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: $fontSize2;
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: $fontSize3;
            }  
        }

        &_albumTitle {
            color: white;
            font-size: 140px;
            margin: auto;
            font-family: $titleFont;
            width: 100%;
            display: flex;
            box-sizing: border-box;
            // &:hover {
            //     filter: brightness(0.7)
            // }
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: 100px;
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                padding: 20px;
                font-size: clamp(40px, 10vw, 90px);
            }  

            img {
                width: 70%;
                margin: auto;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    width: 85%;
                }
                
                @media only screen and (max-width:$mobileMaxWidth){
                    width: 100%;
                }  
            }
        }

        &_networksList {
            @include Row;
            justify-content: center;
            gap: 1rem; // petit espace entre les logos
            

            &_item {
                position: relative;
                width: 40px; // ajuste selon la taille de tes logos
                height: 40px;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
                }
                
                @media only screen and (max-width:$mobileMaxWidth){
                    width: 30px; // ajuste selon la taille de tes logos
                    height: 30px;
                }

                &_link {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;
                        transition: opacity 0.3s ease;
                    }

                    .white {
                        opacity: 1;
                    }

                    .color {
                        opacity: 0;
                    }

                    &:hover .white {
                        opacity: 0;
                    }

                    &:hover .color {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
