@import '../../utils/mixins';

.home {
    height: 100vh;
    width: 100vw;
    // background-image: url('../../assets/background1.webp');
    // background-size: cover;
    // background-position: center;
    margin: auto;
    @include Column;
    
    &_video {
        background-color: black;
        position: fixed; /* arrière-plan */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* derrière tout le reste */
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(6px);
            transform: scale(1.1); /* évite les bords flous */
        }
    }

    &_menu {
        width: 100%;
        height: 20%;
        @include Column;
        justify-content: space-around;
        margin: auto;
        position: relative;

        &_artistName {
            color: white;
            font-size: $fontSize1;
            margin: auto;
        }

        &_albumTitle {
            color: white;
            font-size: 140px;
            margin: auto;
            font-family: 'TitleFont';
            &:hover {
                color: $nightColor2;
            }
        }

        &_networksList {
            @include Row;
            justify-content: center;
            gap: 1rem; // petit espace entre les logos

            &_item {
                position: relative;
                width: 40px; // ajuste selon la taille de tes logos
                height: 40px;

                &_link {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;
                        transition: opacity 0.3s ease;
                    }

                    .white {
                        opacity: 1;
                    }

                    .color {
                        opacity: 0;
                    }

                    &:hover .white {
                        opacity: 0;
                    }

                    &:hover .color {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
