@import "../../utils/mixins";

.taihua_tracks {
  @include Column;
  row-gap: 45px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  // aspect-ratio: 1.5/1;
  overflow: hidden; // ✅ important pour cacher le dépassement du parallax

  @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
        
  }
  
  @media only screen and (max-width:$mobileMaxWidth){
    margin: 0 auto;
  }

  &_track {
    width: 90%;
    margin: auto;
    @include Column;
    // column-gap: 45px;
    justify-content: center;
    position: relative;
    z-index: 10;

    &_imgTitle {
      margin: 1% auto;
      
      object-fit: contain;
      filter: brightness(1);

      @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                
      }
      
      @media only screen and (max-width:$mobileMaxWidth){
          width: 80%;
          margin: 22px auto;
          
      }

      &--taihua {
        width: 50%;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
          width: 80%;  
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            width: 70%;
            
            
        }
      }
      &--gemmes {
        width: 30%;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            width: 50%;
            
            
        }
      }
      &--night {
        width: 20%;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
          width: 30%;
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            width: 40%;
            
            
        }
        
      }
      
    }

    &_texts {
        @include Column;
        width: 60%;
        margin: auto;
        padding: 22px;
        gap: 22px;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
          width: 80%;
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            width: 100%;
            padding: 0 22px;
            box-sizing: border-box;
        }
        
        

        &_title {
          font-family: "SpecialFont";
          @include font-size(1);
          color: $taihuacolor1;

          &--gemmes {
            color: $gemmecolor3;
          }
          &--taihua {
            color: $taihuacolor1;
          }
          &--night {
            color: $nightColor2;
          }
        }

        

        &_text {
          font-family: 'Inter';
          @include font-size(4);
          
          text-align: justify;
          &--gemmes {
            color: $gemmecolor1;
          }
          &--taihua {
            color: white;
          }
          &--night {
            color: white;
          }
        }
    }
  }
}
