/*-------------------
----- VARIABLES -----
-------------------*/

$titleFont: 'Nova Mono', sans-serif;
$mainFont: 'Raleway', sans-serif;

// $colorLightGrey: rgb(233, 233, 233);
// $colorLightTransparentGrey: rgba(233, 233, 233, 0.8);
// $colorDarkGrey: rgb(12, 12, 12);
// $color1: rgb(134, 134, 134);
// $color2: rgb(103, 103, 103);

$mobileMaxWidth: 768px;
$padMinWidth: 769px;
$padMaxWidth: 991px;

$fontSize1: 35px;
$fontSize2: 30px;
$fontSize3: 22px;
$fontSize4: 17px;
$fontSize5: 15px;

// $nightColor1: rgb(26, 29, 61);
// $nightColor2: rgb(196, 164, 211);
// $nightColor3: rgb(150, 163, 230);
// $nightColor4: rgb(8, 9, 20);
$nightColor1: rgb(35, 35, 35);
$nightColor2: rgb(226, 226, 226);
$nightColor3: rgb(105, 105, 105);
$nightColor4: rgb(8, 9, 20);



@mixin Column {
    display: flex;
    flex-direction: column;
}

@mixin Row {
    display: flex;
    flex-direction: row;
}

@mixin SidePaddings {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}



@mixin AllOverPaddings {
    padding: 100px;
    box-sizing: border-box;
}



@media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){

}

@media only screen and (max-width:$mobileMaxWidth){
    
}  

@keyframes apparition {

    0% {  
        opacity: 0;
    }
    100% {  
        opacity: 1;
    }
}
