/*-------------------
----- VARIABLES -----
-------------------*/

@font-face {
    font-family: "SpecialFont";
    src: url("../../public/fonts/Mermaid1001.ttf") format("truetype");
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
  }

  

  

$mobileMaxWidth: 768px;
$padMinWidth: 769px;
$padMaxWidth: 991px;

$fontSize1: 96px;
$fontSize2: 40px;
$fontSize3: 24px;
$fontSize4: 17px;
$fontSize5: 15px;

$font-scales: (
  desktop: (
    1: 96px,
    2: 40px,
    3: 24px,
    4: 17px,
    5: 15px
  ),
  tablet: (
    1: 72px,
    2: 32px,
    3: 22px,
    4: 16px,
    5: 14px
  ),
  mobile: (
    1: 48px,
    2: 26px,
    3: 20px,
    4: 13px,
    5: 12px
  )
);

@mixin font-size($level) {
  font-size: map-get(map-get($font-scales, desktop), $level);

  @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth) {
    font-size: map-get(map-get($font-scales, tablet), $level);
  }

  @media only screen and (max-width:$mobileMaxWidth) {
    font-size: map-get(map-get($font-scales, mobile), $level);
  }
}

$nightColor1: rgb(152, 206, 234);
$nightColor2: rgb(255, 62, 171);

$gemmecolor1: #141414;
$gemmecolor2: #ddeaf5;
$gemmecolor3: #ce6342;

$taihuacolor1: #99ea43;
$taihuacolor2: rgb(70, 66, 58);
$taihuacolor3: rgb(113, 176, 115);
$taihuacolor4:rgb(44, 44, 44);
$taihuacolor5:rgb(66, 61, 57);
$taihuacolor6:rgb(15, 19, 17);

$salarcolor1: #fde2ac;
$salarcolor2: #38004b;

@mixin Column {
    display: flex;
    flex-direction: column;
}

@mixin Row {
    display: flex;
    flex-direction: row;
}

@mixin SidePaddings {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
}



@mixin AllOverPaddings {
    padding: 100px;
    box-sizing: border-box;
}



@media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){

}

@media only screen and (max-width:$mobileMaxWidth){
    
}  

@keyframes apparition {

    0% {  
        opacity: 0;
    }
    100% {  
        opacity: 1;
    }
}

@keyframes gradientMove {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }


  @keyframes taihuaGradientMove {
    0% {
      background-position:
        10% 20%,
        80% 30%,
        40% 90%,
        70% 70%;
    }
    50% {
      background-position:
        20% 25%,
        70% 20%,
        45% 80%,
        60% 75%;
    }
    100% {
      background-position:
        10% 20%,
        80% 30%,
        40% 90%,
        70% 70%;
    }
  }