@import '../../utils/mixins';

.salar_mainDataContainer_descriptionContainer_descriptions {
    
    font-family: 'Montserrat';
    width: 70%;
    margin: auto;

    @include Column;
    
    row-gap: 90px;
    text-align: center;

    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
        width: 90%;
        padding-top: 45px;
    }
    
    @media only screen and (max-width:$mobileMaxWidth){
        width: 100%;
        row-gap: 22px;
        padding-top: 45px;
    }

    &_1 {
        @include font-size(1); 
        font-family: 'SpecialFont';   
    }

    &_2 {
        @include font-size(2);
        font-family: 'SpecialFont';
    }

    &_3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;
        @include font-size(4);
        font-family: 'Montserrat';
        text-align: justify;
        margin: auto;
        width: 100%;
        
        box-sizing: border-box;
   
        @media only screen and (min-width:1440px){
            
        }
        
        @media only screen and (max-width:1440px){
            display: flex;
            flex-direction: column;
            row-gap: 22px;
            padding: 0;
            
            
        }
        @media only screen and (max-width:1440px) and (min-width: $padMinWidth){
            width: 90%;
            
            
        }

        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            width: 90%;
        }
        
        @media only screen and (max-width:$mobileMaxWidth){
            width: 100%;
            row-gap: 22px;
        }
    }
}

.salar_mainDataContainer_datasContainer {
    margin: auto;
    box-sizing: border-box;
}