@import '../../utils/mixins';

.about {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(46, 46, 46);
  box-sizing: border-box;
  // padding: 0 0 90px 0;

  @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth) {
    padding: 45px 0 0 0;
  }

  @media only screen and (max-width: $mobileMaxWidth) {
    padding: 45px 0 0 0;
  }

  &__portrait {
    display: block;
    width: 100vw;
    height: auto;
    aspect-ratio: 2500 / 1254;
    object-fit: cover;
    margin: 0 0 45px;
    margin-left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: $mobileMaxWidth) {
      margin-bottom: 22px;
      aspect-ratio: 1.5 / 1;
    }
  }

  &__portrait2 {
    display: block;
    width: 100vw;
    height: auto;
    aspect-ratio: 2500 / 1254;
    object-fit: cover;
    margin: 45px 0 0 0;
    margin-left: 50%;
    transform: translateX(-50%);
    @media only screen and (max-width: $mobileMaxWidth) {
      
      aspect-ratio: 1.5 / 1;
    }
  }

  &__bio {
    font-family: 'Montserrat';
    color: white;
    @include font-size(4);
    line-height: 1.6;
    text-align: justify;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 45px;

    em {
      font-style: italic;
    }

    strong {
      font-weight: 600;
    }
  }
}
